.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 3fr));
    justify-content: center;
    margin: 30px 50px 0 30px;
}

.products .card {
     position: inherit;
}

.products .card-img-top {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

.product .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.products .card-text{
    height: 70px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

/*  -----------------Detail Product --------------- */

.detail_page .img-thumbnail.active {
    border-color: orangered;
    padding: 2px;
}

.detail_page th, td {
  border-bottom: 1px solid #ddd;
}

.detail_page td:hover {background-color: #e6d9bf;}